<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @sensor_value.value %>
</p>

<%= link_to 'Edit', edit_sensor_value_path(@sensor_value) %> |
<%= link_to 'Back', sensor_values_path %>
